* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #015768; /*Blue Munsell*/
    --secondary-color: #6efafb; /*Electric Blue*/
    --accent1-color: #fff4e4; /*Old Lace*/
    --accent2-color: #f7e8a4; /*Vanilla*/
    --heading-font: "Akaya Telivagala", sans-serif;
    --body-font: "Sansation", sans-serif;
}
body {
    font-family: var(--body-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header{
    display: grid;
    grid-template-columns: 60px 1fr 1fr;
    align-items: center;
    background-color: var(--secondary-color);
    margin: 30px 30px 30px 30px;
    justify-self: center;
    padding: 20px 30px 20px 10px;

}
header img{
    border: 4px solid var(--primary-color);
    grid-column-start: 2;
}
    
header nav{
    display: flex;
    grid-column-start: 3;
    background-size: auto;
    align-content: end;
    flex-wrap: wrap;
}
header nav a{
    border: 4px solid var(--primary-color);
    padding: 5px 10px;
    background-color: var(--accent1-color);
}
h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, .p2, section, article {
    margin: 16px;
    padding: 8px;
}
section{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
}
.history{
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 100px;
    background-color: var(--secondary-color);
    justify-content: center;
    align-content: center;
}
.history h2{
    bottom: -10px;
    position: relative;
    justify-self: center;
}
.history img{
    position: relative;
    justify-self: center;
    width: 200px;
    height: auto;
    bottom: 50px;
    grid-column-start: 2;
    box-shadow: 0 0 30px gray;
}
.history p{
    position: relative;
    bottom: -20px;
    display: flex;
    grid-column-start: 1;
    grid-row-start: 1;
}
.history .p2{
    position: relative;
    bottom: -20px;
    display: flex;
    grid-column-start: 3;
    grid-row-start: 1;
}
.adventure{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10px 155px 50px;
    padding: 20px;
    background-color: var(--accent2-color);
}
.adventure figcaption{
    grid-row-start: 3;
    text-align: center;
    position: relative;
    bottom: -65px;
}
.adventure h2{
    display: block;
    position: absolute;
    justify-self: center;
}
.adventure img{
    display: flex;
    position: relative;
    justify-content: flex-start;
    bottom: -60px;
    width: 155px;
    padding: 10px 10px;
    height: fit-content;
    flex-direction: column;
}
.socialmedia a {
    text-decoration: none;
}
.hero, .contact {
    position: relative;
}
.hero img, .contact img {
    display: block;
    width: 100%;
    height: auto;
    align-self: center;
    grid-column-start: 2;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    text-align: center;
}
article {
    position: absolute;
    text-align: center;
    top: 400px;
    background-color: var(--accent2-color);
}
.hero article img {
    float: right;
    width: 125px;
    margin: 0 0 0 20px;
    box-shadow: 0 0 30px #888;
}
footer{
    display: grid;
    position: relative;
    grid-template-columns: 6fr;
    align-items: center;
    background-color: var(--secondary-color);
    margin: 30px 30px 30px 30px;
    justify-self: center;
    padding: 5px 30px 5px 10px;
}
footer a img {
    width: 40px;
    height: auto;
    background-color: var(--accent1-color);
    padding: 3px;
}
footer nav{
    grid-column-end: 5;
}
footer p{
    grid-column-start: 3;
}


.contact p {
    display: relative;
    position: relative;
    width: 40%;
    height: auto;
    align-self: center;
    justify-self: right;
    text-align: right;
    top: -110px;
    color: var(--primary-color);
    background-color: var(--accent2-color);
}
.connect {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: var(--secondary-color);
    margin: 10px;
    justify-self: center;
    padding: 30px;
    width: 100%;
}
.connect h2 {
    padding: 10px;
    text-decoration: underline;
    justify-self: center;
}
.connect h3 {
    padding: 1px 10px;
    text-decoration-style: dotted;
}
.connect p{
    padding: 1px 10px;
}
iframe{
    width: 750px;
    height: auto;
    margin-top: 20px;
    box-shadow: 0 0 30px #888;
    justify-self: center;
}


.employees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    padding: 10px;
    background-color: var(--accent2-color);
    justify-self: center;
}

.img2 {
    height: 134px;
    width: auto;
}
.employees img {
    margin-top: 20px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    justify-self: center;
    width: 200px;
    height: fit-content;
    flex-direction: row;
    box-shadow: 0 0 30px #888;
}
.employees figcaption {
    text-align: center;
    padding: 30px 0px;
}
.contact {
    margin-bottom: -75px;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}
legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3rem;
}
form {
    position: block;
    background-color: var(--accent2-color);
    padding: 10px;
    width: 80%;
    justify-self: center;
    border: 4px solid var(--primary-color);
    top: -1280px;
    left: -30px;
    size-adjust: 20%;
}
label, input, button, select, textarea {
    font-family: var(--body-font)
}
label {
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}
input, textarea {
    padding: 0.3rem;
    font-size: 1rem;
}
input[type="text"], input[type="email"], textarea{
    width: 100%;
    margin: 10px 0px;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: top;
}
button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: var(--secondary-color);
}
.subscription {
    text-align: center;
    padding-top: 3px;
}
.message-text {
    justify-self: center;
}
